/* Replace selection color 🕶️ */
::-moz-selection { /* Code for Firefox */
    background: var(--soft-coffee);
  } 
  ::selection {
    background: var(--soft-coffee);
  }
/* Scrollbar design */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
::-webkit-scrollbar-corner {
    background: var(--soft-coffee);
  }
::-webkit-scrollbar-thumb {
    background: var(--soft-coffee);
    border-radius: 6px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --green: #2E2E41;
    --red: #F28482;
    --pink: #F5CAC3;
    --white: #F7EDE2;
    --yellow: #F6BD60;
}

body {
    background-color: var(--green);
    height: 90vh;
}

main {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__btn {
  width: 100%;
  border-radius: 8px;
  border-style: none;
}

textarea:focus, input:focus{
  outline: none;
  font-weight: 400;
}

.result__section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .gif img {
    border-radius: 20px;
}

.description > div {
    display: flex;
    justify-content: center;
    align-items: center;
} */